.forgot-password {
  &__section {
    margin: 30px 0;
  }

  &__form {
    width: 45%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .forgot-password {
    &__form {
      width: 60%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .forgot-password {
    &__form {
      width: 50%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .forgot-password {
    &__section {
      margin: 10px 0;
    }

    &__form {
      width: 100%;
      margin: 0;
    }
  }
}
