.user-listview {
  &__section {
    margin: 20px 0 0;
    min-height: 68vh;
    position: relative;

    .list-group {
      .list-group-item {
        padding: 12px;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #ccc;

        .form-check {
          margin: 0;
          padding: 0;

          input {
            margin-left: 0;
            cursor: pointer;
          }
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }

  &__no-records {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    position: absolute;

    p {
      font-size: 42px;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 767px) {
  .user-listview {
    &__section {
      padding: 0 0 50px;
    }

    &__main-content {
      > div {
        padding: 0 0 12px;
      }
    }
  }
}
